@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');

*, body {
    margin: 0;
    padding: 0;
}

body {
  background-color: #F2F2F0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    border-bottom: 7px solid black;
}

.book_main {
    line-height: 100px;
}

section.search-section {
    display: flex;
    justify-content: flex-end;
}

.search {
    display: flex;
    justify-content: center;
}

.search-field {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
}

.search-field:focus {
    outline:none;
}

.search-button {
    background-color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.search-button:hover {
    background-color: #010326;
    color: white;
}

.search-button:hover img{
    filter: invert(100%)
}

.search-button img {
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 600px){
  div {
    margin: 0;
    padding: 0 1em;
  }
}

section.detail-section {
    display: flex;
}

h1.main-title{
  font-family: 'Kanit', sans-serif;
}

.books-list {
  font-family: 'Sarabun', sans-serif;
  display: flex;
  flex-direction: column;
}

.book {
  padding: 0 1em;
  display: flex;
}

.book-img {
  width: 150px;
  height: 200px;
}

.book-detail {
  padding-left: 1em;
}

@media screen and (max-width: 512px){
  .book {
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
  }
  
  .book-detail{
    padding: 1em 0;
  }
}

.floating-btn {
  position: fixed;
  right: 2em;
  padding: 1em;
  background-color: white;
  text-decoration: none;
  color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: none;
}

.fl-publisher {
  bottom: 6em;
}
.fl-writer {
  bottom: 2em;
}